<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Black Bass Dam | Save Black Bass Dam</title>
<link rel="stylesheet" href="/naturefox/style.css" type="text/css" media="screen" />
<!--[if lt ie 8]><link rel="stylesheet" href="/naturefox/styles/ie7.css" type="text/css" /><![endif]-->
<!--[if lt ie 7]><link rel="stylesheet" href="/naturefox/styles/ie6.css" type="text/css" /><![endif]-->
<link rel='canonical' href='http://blackbassdam.org/' />
<link rel='shortlink' href='http://blackbassdam.org/' />
  <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
</head>
<body class="home page page-id-4 page-template-default">

<div class="header">
  <p class="logo"><a href="/"><img src="/naturefox/images/logo.png" alt="Black Bass Dam" /> Black Bass Dam</a> Save Black Bass Dam</p>
  
  <div class="header-menu">
    <ul class="menu">
        <li class="page_item page-item-4{% if page.title == 'About' %} current_page_item{% endif %}"><a href="/"><span><span>About</span></span></a></li>
      <li class="page_item page-item-13{% if page.title == 'Videos' %} current_page_item{% endif %}"><a href="/videos/"><span><span>Videos</span></span></a></li>
    </ul> 
  </div>
</div>

<div class="cbox">
  <div class="content">

    <div class="main">
{{ content }}
    </div>

    <div class="sidebar">
        <p><strong>Please make checks payable to:</strong></p>
        <p>City of Eureka Springs/Black Bass Dam Project*</p>
        <p><strong>Send checks to:</strong></p>
        <p>City of Eureka Springs</p>
        <p>Finance Director</p>
        <p>44 South Main Street</p>
        <p>Eureka Springs, AR 72632</p>
        <p>* <a href="/uploads/2013/12/Resolution-No-626-Account-for-Black-Bass-Dam-repair-donations.pdf">Resolution 626</a> - directing the finance director of the city of Eureka Springs to establish an account for any monies raised or donated for the repair, improvement, and maintenance of Black Bass Lake Dam.</p>
        <p><strong>Contacts:</strong></p>
        <p>Dee Purkeypile  - dee@purkeypileconsulting.com</p>
        <p>Bryan Hostick - stay@sherwoodcourt.com</p>
    </div>

  </div>
</div>

<div class="footer">
    <p><span>Black Bass Dam</span></p>
</div>
<div id="design">Powered by <a href="http://www.hqpremiumthemes.com/">HQ Premium Themes</a>.</div>

</body>
</html>
